.card{
    flex-wrap: wrap;
    width: 19.0625rem;//305px;
    height: 31.125rem;//498px;
    padding: 2.8125rem;//45px
    
    h1{
        color: $veryLightGray;
        font-family: $family-2;
        text-transform: uppercase;
        margin: 2.5rem 0;//40px
        font-weight: $weight-2;   
    }
    p{
        color: $transparentWhite;
        font-size: $font-Regular;
        line-height: 1.5rem; //24px
        word-spacing: 0.0625rem;//1px
        font-weight: $weight-1;
        font-family: $family-1;
        padding-bottom: 6vw;
    }
    &-sedan{
        background-color: $brightOrange;
        border-radius: 0.3125rem 0 0 0.3125rem;
    }
    &-suv{
        background-color: $darkCyan;
    }
    &-luxury{
        background-color: $veryDarkCyan;
        border-radius: 0 0.3125rem 0.3125rem 0;
    }
}