//viewPort
$mobile : 23.4375em; //375px
$desktop : 90em; //1400px

//color
$brightOrange :  hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);


//Paragraph
$transparentWhite: hsla(0, 0%, 100%, 0.75);

//Background, Headings, Buttons
$veryLightGray: hsl(0, 0%, 95%);

//Font Size
$font-Regular : 0.9375rem; //15px

//Font-Family
$family-1: 'Lexend Deca', sans-serif;
$family-2: 'Big Shoulders Display', cursive;

//Font-Weight
$weight-1 : 400;
$weight-2 : 700;